body{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "head head head "
    "esqe main asid"
    "foot foot foot ";
    background-color: #f9c244;
    margin: 0;
    padding: 0;
    grid-gap: 1rem;
    color: white;
}
/* grid */
.grid_header{
    grid-area: head;
    background-color: #f46e49;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.grid_direita{
    grid-area: asid;
    text-align: center;
    margin: 1px 15px 1px 15px;
}
.grid_esquerda{
    grid-area: esqe;
    border-radius: 5rem;
    text-align: center;
    color: #000;
}
.grid_main{
    grid-area: main;
    background-color: rgba(53,54,58,1);
    text-align: justify;
    border-radius: 5rem;
    padding: 2rem;
    box-shadow: 4px 4px 4px 4px red;
}
.grid_footer{
    grid-area: foot;
    background-color: #f46e49;
}


/* header */
.header_imagem{
    font-size: 23px;
    margin: 0px;
    display: flex ;
    align-items: center;
    font-family: 'Lobster', cursive;
    color: rgb(224, 224, 0);
    text-shadow: 
        -1px -1px 0px #000, 
        -1px 1px 0px #000,                    
        1px -1px 0px #000,                  
        1px 0px 0px #000;
}
header b{
    color: rgb(182, 21, 21);
}
.header_imagem img{ 
    width: auto;
    height: 7rem;
}
#super{
    width: 12rem;
}

/* aside */
aside figcaption{
    font-size: xx-small;
}
.ball{
    background-image: linear-gradient(to bottom, #333333, #222222) ;
    border: 3px solid red;
    color: white;
    border-radius: 5rem;
}
.grid_direita img{
    width: 15rem;
    display: block;
    margin: auto;
}

.grid_esquerda h2 {
    color: red;
}


/* main */
.grid_main figcaption{
    font-size: xx-small;
}
main h1{
    text-align: center;
}

main img{
    display: block;
    margin: auto;
    width: 68%;
    border-radius: 20px;
    border: 6px inset white;
}
main p{
    font-family: 'Quicksand', sans-serif;
    text-indent: 2rem;
}
main figcaption{
    text-align: center;
}
main h2{
    text-align: center;
    color: orange;
    font-family: 'Cinzel', serif;
}
#dragon{
    font-size: 72px;
    color: yellow;
    margin: 0;
    font-family: 'Cinzel', serif;
}
#trasnf{
    font-family: 'Righteous', cursive;
    color: red;
}

/* footer  */
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f46e49;
}
footer img{
    width: auto;
    height: 10rem;
}
footer h2{
    font-family: 'Lobster', cursive;
    color: #000;
}
footer a{
    color: #003558;
    text-decoration: none;
}
footer a:hover{
    color: #00558d;
    text-decoration: underline;
}
footer h4{
    color: black;
    border: 2px solid #000;
    border-radius: 5rem;
    padding: 7px;
}

/* fontes */

