body{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 
    "head head head "
    "esqe main asid"
    "foot foot foot ";
    background-color: #f9c244;
    margin: 0;
    padding: 0;
    grid-gap: 1rem;
    color: white;
}
/* grid */
.grid_header{
    grid-area: head;
    background-color: #f46e49;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.grid_direita{
    grid-area: asid;
    text-align: center;
}
.grid_esquerda{
    grid-area: esqe;
    background-color: gray;
    border-radius: 5rem;
    text-align: center;
}
.grid_main{
    grid-area: main;
    background-color: rgba(53,54,58,1);
    text-align: justify;
    border-radius: 5rem;
    padding: 2rem;
    text-indent: 2rem;
}
.grid_footer{
    grid-area: foot;
    background-color: gray;
}


/* header */
.header_imagem{
    display: flex;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    text-shadow:
    -1px -1px 0px blue, 
    -1px 1px 0px blue,      
     1px -1px 0px blue,    
     1px 0px 0px blue;
     font-family: header;
     font-size: large;
}
header img{
    width: 5rem;
}
#super{
    width: 12rem;
}

/* aside */
aside figcaption{
    font-size: xx-small;
}
.ball{
    background-color: gray;
    border: 3px solid black;
    color: black;
    border-radius: 5rem;
}
.grid_direita img{
    width: 15rem;
    display: block;
    margin: auto;
}rgb(255, 190, 69)


/* main */
.grid_main figcaption{
    font-size: xx-small;
}
main h1{
    text-align: center;
}
main img{
    display: block;
    margin: auto;
    width: 68%;
    border-radius: 20px;
    border: 6px inset white;
}
main figcaption{
    text-align: center;
}
main h2{
    text-align: center;
    color: blue;
}
#dragon{
    font-size: 72px;
    color: yellow;
    margin: 0;
}


/* footer  */

@font-face {
    font-family: header;
    src: url(fontes/Triforce.ttf);
}
